extends ../layout

block content
    body
    form(action='/employees', method='post')
        div
            | Name: 
            input(type='text', name='name', value='' placeholder="Input Employee's Name")
        div
            | Department: 
            input(type='text', name='department', value='' placeholder="")
        div
            | Gender: 
            input(type='radio', name='gender' value='male')
            | male
            input(type='radio', name='gender' value='female')
            | female
            input(type='radio', name='gender' value='other' checked)
            | other
        div
            | Birthday: 
            input(type='text', name='birth' value='' placeholder="Input Employee's Birthday")
        div
            | Joined Date: 
            input(type='text', name='joined_date' value='' placeholder="Input Employee's Joined Date")
        div
            | Payment: 
            input(type='text', name='payment' value='' placeholder="Input Employee's Payment")
        div
            | Note: 
            input(type='text', name='note' value='' placeholder="Input Note")
        div
            input(type='submit', value='Submit')